=turbo_frame_tag "add_place" do 
  =form_for :team, class: "pt-4"  do |f|
    .form-group.border-t-2.pt-4
    %h4.text-white.devise__header.pb-2 Criar novo local
    -# .actions.pt-4
      -# = f.submit "Adicionar", class: "btn btn--primary" 