.flex.h-full.w-full.devise__background
  .devise__layout.absolute.devise__background
    .devise__left
      .devise__container
        .devise__header
          %h2.devise__title= Team.where('id = ?', params[:id]).first.group_name
        .devise__header.pt-1  
          .devise__title= "Gerenciamento do time"
        .devise__content
          =render "form_user" 
          .pt-2
          =render "form_place"  
          .pt-2
          =render "form_match" 