.grid.grid-cols-8.h-full.devise__background
  .col-span-2
    .ml-12.pt-12
      .devise__header.pb-1
        %h2.devise__title= Team.where('id = ?', params[:id]).first.group_name.capitalize
      .devise__header.pt-1  
        .devise__title= "Gerenciamento do time"
      -if Team.where('id = ?', params[:id]).first.places.any?
        .pt-4
          =render "form_match"
      .pt-4.mb-24
        =render "form_place"  
  .col-span-6.ml-12.pt-12.h-full
    = render "team_viewer"
    -# .pt-4
    -#   = render "past_matches", locals: { id: params[:id] }