.grid.grid-cols-5.h-full.devise__background
  .col-span-2.pt-12.ml-12.overflow-y-auto
    %h2.text-2xl.font-semibold.text-white Últimos jogos
    -if @past_matches != nil
      = render 'history'
    -else
      .pt-4
        = render 'no_history'
  .col-span-3.pt-12
    %h2💀