.grid.grid-cols-5.h-full.devise__background
  .col-span-3.ml-12
    .grid.grid-rows-8.h-full
      .row-span-8.mr-12.pt-8
        = render 'visualization'
        .pt-4
          = render 'stats'
  -# .col-span-1.pt-8.overflow-y-auto
  -#   -if @past_matches != nil
  -#     = render 'members'      
  .col-span-2.pt-8.overflow-y-auto
    -if @past_matches != nil
      = render 'next_matches'    
    -else
      = render 'no_matches'     