.flex-shrink-0.w-full.h-auto.text-sm.mt-8
  .flex.flex-col.text-sm.space-y-3
    .flex.flex-wrap.items-center.justify-center.space-x-6
      = link_to t(".about"), root_path, class: "text-gray-700 no-underline block lg:my-0 my-2"
      = link_to t(".privacy"), root_path, class: "text-gray-700 hover:text-gray-800 no-underline block lg:my-0 my-2"
      = link_to t(".terms"), root_path, class: "text-gray-700 hover:text-gray-800 no-underline block lg:my-0 my-2"
    .flex.items-center.justify-center.space-x-3
      .text-gray-700
        © #{Date.current.year} Procfy