.flex-shrink-0.w-full.h-auto.text-sm.mt-8
  .flex.flex-col.text-sm.space-y-3
    .flex.items-center.justify-center.space-x-3
      .text-white
        © #{Date.current.year} Futengage - Leonardo Zappani