%li.stacked-list__item{ id: dom_id(account_invitation) }
  .stacked-list__layout
    .stacked-list__left
      .stacked-list__content
        .stacked-list__details
          .paragraph-base= account_invitation.name
          .paragraph-muted= account_invitation.email
    .stacked-list__actions
      = button_to account_invitation_path(account_invitation.id), method: :delete, onclick: "event.stopPropagation()", form: { data: { turbo_confirm: t('shared.are_you_sure?') } }, class: 'btn-circle btn-circle--danger' do
        = heroicon 'trash', options: { class: 'btn-circle__icon' }