= turbo_frame_tag :chart do
  .flex.items-center.justify-center.sm:space-x-6.animate__fadeIn.animate__faster
    .block.animate__animated.animate__pulse.animate__faster.w-full
      %canvas{style: 'position: relative', data: {
        controller: 'home-chart',
        home_chart_line_data_value: @line_data.to_json,
        home_chart_column_data_value: @column_data.to_json,
        home_chart_locale_value: I18n.locale,
        home_chart_currency_value: Money.default_currency,
        home_chart_paid_revenues_label_value: t('transactions.totalizer.revenue_paid'),
        home_chart_unpaid_revenues_label_value: t('transactions.totalizer.revenue_unpaid'),
        home_chart_paid_expenses_label_value: t('transactions.totalizer.expense_paid'),
        home_chart_unpaid_expenses_label_value: t('transactions.totalizer.expense_unpaid'),
        home_chart_outcome_label_value: t('.outcome') }} 