= turbo_stream.remove @contact
= turbo_stream.update :flash, render(FlashComponent.new(flash: flash))
= turbo_stream.remove_css_class '#empty_state', 'hidden md:hidden' unless @contact.account.contacts.any?
