= turbo_stream.prepend :cost_centers, @cost_center
= turbo_stream.update :drawer, ""
= turbo_stream.update :flash, render(FlashComponent.new(flash: flash))
= turbo_stream.add_css_class '#empty_state', 'hidden md:hidden'
