= turbo_stream.update :drawer, ''
= turbo_stream.replace_all ".#{dom_id(@user, :avatar)}", partial: 'avatar', locals: { avatable: @user, icon: 'user' }
= turbo_stream.update :flash, render(FlashComponent.new(flash: flash))
