.month-nav
  = link_to @prev_url, class: 'btn-circle btn-circle--primary sm:flex-shrink-0', data: { turbo_frame: @turbo_frame, controller: :tooltip, tooltip_content_value: I18n.t('transactions.tabs.prev_month')  } do
    = heroicon 'chevron-left', options: { class: 'btn-circle__icon' }
  %input{value: l(@current_month, format: :month).titleize, type: :button, data: { controller: 'month-navigator', month_navigator_formatted_date_value: @current_month, month_navigator_url_value: @current_url}, class: 'tabs__item tabs__item--active flex-1 w-auto sm:w-32'}
  -# = link_to @current_url, class: 'tabs__item tabs__item--active flex-1 w-auto sm:w-32', data: { turbo_frame: @turbo_frame, controller: :tooltip, tooltip_content_value: I18n.t('transactions.tabs.current_month') } do
  -#   = l(@current_month, format: :month)
  = link_to @next_url, class: 'btn-circle btn-circle--primary sm:flex-shrink-0', data: { turbo_frame: @turbo_frame, controller: :tooltip, tooltip_content_value: I18n.t('transactions.tabs.next_month') } do
    = heroicon 'chevron-right', options: { class: 'btn-circle__icon' }

