= turbo_stream.replace :bank_accounts_index, turbo_frame_tag(:bank_accounts_index, src: bank_accounts_path)
= turbo_stream.update :drawer, ''
= turbo_stream.update :flash, render(FlashComponent.new(flash: flash))
