.devise {
  &__layout {
    @apply flex min-h-full place-content-center justify-center;
  }
  &__left {
    @apply min-h-full place-content-center justify-start py-12 px-4 sm:px-6 lg:px-20 xl:px-24;
    background-color:#ffffffbf;
  }
  &__layoutp {
    @apply flex min-h-full min-w-full place-content-center justify-center;
    background-color:#ffffffbf;
  }
  &__leftp {
    @apply min-h-full place-content-center justify-start py-12 px-4 sm:px-6 lg:px-20 xl:px-24;
    
  }
  &__right {
    @apply  bg-primary-800;
  }
  &__container {
    @apply w-full lg:w-96; 
  }
  &__header {
    @apply flex items-center justify-between;
  }
  &__headerp {
    @apply flex justify-start justify-between;
  }
  &__title {
    @apply font-bold tracking-tight text-gray-700;
  }
  &__logo {
    @apply h-12 w-auto;
  }
  &__content {
    @apply mt-8;
  }
  &__form {
    @apply block space-y-6;
  }
  &__links {
    @apply block mt-6;
  }
  &__canvas {
    background: rgb(230,254,205);
    background: linear-gradient(0deg, rgba(230,254,205,1) 0%, rgba(252,255,250,1) 100%);
}
}