.transactions-list {
  @apply flex flex-col divide-y divide-gray-200;

  &__new {
    @apply flex items-center h-12 px-base py-1.5 px-base w-full bg-gray-100
  }

  &__goto {
    @apply flex items-center h-12 px-base py-1.5 px-base w-full bg-white
  }

  &__add {
    @apply font-medium w-full h-8 flex items-center justify-center space-x-2 border-2 border-dashed text-green-500 hover:text-primary-600 border-green-500 hover:border-primary-600 bg-white rounded-full focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2
  }

  &__go {
    @apply font-medium w-full h-8 flex items-center justify-center space-x-2 border-2 text-green-500 hover:text-primary-600 border-green-500 hover:border-primary-600 bg-white rounded-full focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2
  }

  &__header, &__item {
    @apply flex items-center;
  }

  & &__item {
    @apply hover:bg-gray-50
  }

  & > turbo-frame:last-of-type > li > &__item,
  & > turbo-frame:last-of-type > &__item {
    @apply rounded-b-lg
  }

  &__header {
    @apply font-semibold
  }

  &__column {
    @apply flex items-center px-1.5 py-1.5 leading-4 whitespace-normal truncate;
    min-height: 3rem;

    &--check {
      @apply justify-start;
      width: 2.5rem
    }
    &--duedate {
      @apply pl-3;
      width: 7.5rem;
    }
    &--name {
      @apply flex-col items-start justify-center flex-1 w-auto;
      min-width: 12rem;
    }
    &--contact {
      width: 10rem;
    }
    &--bank-account {
      width: 12rem;
    }
    &--category {
      width: 10rem;
    }
    &--amount {
      @apply flex-col items-start justify-center;
      width: 11rem;
    }
    &--payment-type {
      width: 9.5rem;
    }
    &--paid {
      @apply justify-center;
      width: 5rem;
    }
    &--actions {
      @apply text-right justify-end pr-3;
      width: 6rem;
    }
  } 
}

.summarizer {
  @apply sticky bottom-3 mt-3 flex justify-end block bg-white p-3 rounded-md w-80 sm:shadow;
  margin-left: calc(100% - 38.25rem);
  min-height: 5.6rem;
}

.summarizer-phone {
  @apply sticky bottom-3 flex justify-end block bg-white mt-3 p-3 w-full;
}