= render TurboDrawerComponent.new(title: t(".title")) do
  .flex.flex-col.space-y-4.sm:space-y-6
    .form-group.border.border-gray-200.px-4.py-5.sm:p-0.rounded-md
      %dl.sm:divide-y.sm:divide-gray-200.space-y-4
    .form-group
      = button_to t('shared.edit'), edit_confirmation_path(@confirmation), class: 'btn', method: :get, data: { turbo_frame: 'drawer' }
