.flex.flex-col.items-center.w-full.mt-3
  = render(Transactions::MonthNavigatorComponent.new(prev_url: transactions_path(request.query_parameters.merge(month: (current_month - 1.month))),
                                                     current_url: transactions_path(request.query_parameters.merge(month: current_month)),
                                                     next_url: transactions_path(request.query_parameters.merge(month: (current_month + 1.month))),
                                                     current_month: current_month,
                                                     turbo_frame: :transactions_index))

  = render(Tabs::NavComponent.new) do |tabs|
    - enum_option_pairs(Transaction, :transaction_type).each do |item|
      - tabs.item(name: item.first,
                  url: transactions_path(bank_account_id: current_bank_account, month: current_month, transaction_type: item.last),
                  active: (current_transaction_type == item.last.to_sym))