- if resource.errors.any?
  .rounded-md.bg-red-50.p-4.mb-4
    .flex
      .flex-shrink-0
        = heroicon 'x-circle', variant: :solid, options: { class: 'h-5 w-5 text-danger-600' }
      .ml-3.flex-1
        .text-sm.text-danger-600
          %ul.list-disc.space-y-1.pl-5
            - resource.errors.full_messages.each do |message|
              %li= message

