.flex.items-center.justify-center.h-full.w-full.self-stretch.bg-gray-100.rounded-md.py-base.px-base.font-medium.text-gray-500
  = heroicon 'arrow-path', options: { class: 'h-5 w-5 text-gray-500 animate-spin' }
  %span.ml-3= t('shared.loading')