-#%table.spacer
-#  %tbody
-#    %tr
-#      %td{height: "16", style: "font-size:16px;line-height:16px;"}
-#        = '&nbsp;'.html_safe
-#
-#%table.row
-#  %tr
-#    %th.first.last.columns{ style: 'border-bottom: 1px solid #e5e7eb' }
-#      %table
-#        %tr
-#          %th
-#            = image_tag 'symbol.png', style: 'height: 32px; width: auto'
-#          %th.expander

%table.spacer
  %tbody
    %tr
      %td{height: "32", style: "font-size:32px;line-height:32px;"}
        = '&nbsp;'.html_safe