#center-center-modall.fixed.top-0.left-0.right-0.z-50.hidden.w-full.p-4.overflow-x-hidden.overflow-y-auto.md:inset-0.h-modal.md:h-full{"data-modal-placement" => "center-center", tabindex: "-1"}
  .px-6.py-6
    .relative.w-fit.h-fit.max-w-2xl.md:h-auto
      .relative.rounded-lg.shadow.bg-bgcolor
        .flex.items-center.justify-between.p-5.border-b.rounded-t.dark:border-gray-600{class: "border-white/25"}
          %h3.text-xl.font-medium.text-white.place-content-center
            Atualizar informações do perfil
        .p-6.space-y-6
          = render "configs/form"  