%nav.nav
  .nav__container
    .nav__content
      .nav__left
        .flex-shrink-0
          = link_to root_path do
            %img.h-8.w-8{ src: 'https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=300' }
        .ml-10.flex.items-baseline.space-x-4 
          = link_to 'Dashboard', root_path, class: 'bg-gray-700 text-white px-3 py-2 rounded-md text-sm font-medium'
          = link_to 'Transactions', root_path, class: 'text-white hover:bg-gray-700 hover:bg-opacity-75 px-3 py-2 rounded-md text-sm font-medium'
          = link_to 'Contacts', root_path, class: 'text-white hover:bg-gray-700 hover:bg-opacity-75 px-3 py-2 rounded-md text-sm font-medium'
      .nav__right