- if Current.account.trial_period?
  .bg-blue-50.px-3.sm:px-6.py-3.sm:py-2
    .sm:flex.sm:items-center.sm:space-x-2.sm:justify-between
      %p.sm:flex-1.text-sm.text-blue-700.leading-4
        = t('.trial_period', count_down: Current.account.trial_period_in_days).html_safe
        = t('.trial_description')
      .sm:flex-shrink-0.mt-3.sm:mt-0.block.sm:flex.sm:items-center.sm:space-x-2.space-y-3.sm:space-y-0
        = link_to new_checkout_portal_session_path, class: 'btn-sm btn--primary', data: { turbo_frame: 'drawer' } do
          %span= t('checkout_portal_sessions.form.subscribe')