.flex.devise__soccerfield.place-content-center.min-h-full
  .absolute.pt-10
    = image_tag '/12.png'
    -# -if current.futengage.players.count == 0  
    -#   = image_tag '/0.png'

    -# -if current.futengage.players.count == 1  
    -#   = image_tag '/1.png'

    -# -if current.futengage.players.count == 2
    -#   = image_tag '/2.png'

    -# -if current.futengage.players.count == 3
    -#   = image_tag '/3.png'      

    -# -if current.futengage.players.count == 4
    -#   = image_tag '/4.png'

    -# -if current.futengage.players.count == 5 
    -#   = image_tag '/5.png'

    -# -if current.futengage.players.count == 6
    -#   = image_tag '/6.png'

    -# -if current.futengage.players.count == 7
    -#   = image_tag '/7.png'    
      
    -# -if current.futengage.players.count == 8
    -#   = image_tag '/8.png'      

    -# -if current.futengage.players.count == 9
    -#   = image_tag '/9.png'

    -# -if current.futengage.players.count == 10 
    -#   = image_tag '/10.png'

    -# -if current.futengage.players.count == 11
    -#   = image_tag '/11.png'

    -# -if current.futengage.players.count == 12 || current.futengages.players.count > 12
    -#   = image_tag '/12.png'  