.c-table {
  @apply flex flex-col divide-y;

  &__head, &__body {
    @apply flex flex-col divide-y
  }

  &__head {
    @apply font-semibold border-b overflow-hidden
  }

  &__item {
    @apply flex items-center box-border
  }

  &__body &__item {
    @apply hover:bg-gray-50
  }

  & &__item:first-child {
    @apply rounded-t-md
  }

  & &__item:last-child {
    @apply rounded-b-md
  }

  &__column {
    @apply flex items-center px-base py-3 sm:py-1.5 leading-4 whitespace-normal truncate box-border;
    min-height: 3rem;

    &--check {
      @apply justify-center;
      width: 3.5rem
    }
    &--flag {
      @apply justify-center text-center;
      width: 8rem
    }
    &--avatar {
      @apply justify-start;
      width: 4.5rem
    }
    &--description {
      @apply flex flex-col justify-center items-start flex-1 w-auto space-y-1;
    }
    &--amount {
      width: 10rem;
    }
    &--date {
      width: 8rem;
    }
    &--others {
      @apply truncate;
      width: 10rem;
    }
    &--document-1 {
      @apply truncate;
      width: 10rem;
    }
    &--phone-number {
      @apply truncate;
      width: 10rem;
    }
    &--email {
      @apply truncate;
      width: 12rem;
    }
    &--datetime {
      @apply whitespace-nowrap;
      width: 11rem;
    }
    &--actions {
      @apply overflow-visible flex items-center justify-end space-x-2;
      width: 7rem;
    }
  }

  &__head > &__item > &__column {
    @apply py-2;
    min-height: auto;
  }
}