.flex.items-center.justify-center.sm.space-x-6.pt-3
  .block.animate__animated.animate__pulse.animate__faster
    .flex.items-center.justify-center.sm.space-x-6.pt-12
      .flex.flex-center.sm:flex.flex-col.p-6
        %div.flex.justify-center
          = inline_svg_tag 'empty.svg', class: 'h-60 w-60 md:w-1/2 h-1/2'
        %h5.font-semibold.text-center.pt-6= t('application.empty_search.search_not_found')
